<div class="wrap">
	<h1>Editing post</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', user_post_path(@user, @post) %> |
<%= link_to 'Delete', user_post_path(@user, @post), :method => :delete, :confirm => "Yo, you sure? Deleting it here won't remove it from your repo." %> |
<%= link_to_function "Back", "history.back()" %>
