
// @import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700|Source+Sans+Pro:300,400|Source+Code+Pro);

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}

*::selection{
  background-color: rgba(60, 100, 150, 0.5);
}

html{
  height:100%;
  margin:0;
  padding:0;
}

body{
  color:#e7dcd9;
  // text-shadow:rgba(0,0,0,1) 0px -1px 0px;
  background: rgb(17, 17, 17);
  font-family: "Noto Serif", serif;
}

a{
  text-decoration: none;
  color:$link-color;
  &:hover{
    border-bottom:$link-color .10em solid;
  }
}

p{
  line-height: 1.75em;
  font-size: 19px;
  color:#beb5b2;
}

h1, h2, h3{
  margin:0 auto .67em;
  font-family: "Source Sans Pro", sans-serif;
}


.wrap{
  margin:1.5em auto;
  max-width:900px;
}
  .wrap-wide{
    margin:1.5em auto;
    max-width:2000px;
  }

header{
  height:100%;
  h1{
    margin:30% auto 0;
    text-align: center;
    font-size: 5em;
    font-weight: 400;
  }
}

.page-title{
  margin:0 auto 1em;
  font-size: 4.5em;
  font-weight: 200;
  color:#CCC;
}