@import "pygments";
// @import 'hallo_rails';
html{
	height:100%;
}

body{
	background: #fff;
	font-family: "Proxima Nova";
}

.wrap{
	margin:1.5em auto;
	max-width:800px;
}

header{
	height:100%;
	h1{
		margin:30% auto 0;
		text-align: center;
		font-size: 5em;
		font-weight: 400;
	}
}